#container {
    color: red;
    font-family: red serif;
}

.logo {
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    border: 2px solid black;
    padding: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: grey;
}

.author {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-left: 800px;
}

button {
    border-radius: 5px;
    align: center;
    font-size: 20px;
    background-color: rosybrown;
}

button:hover {
    background-color: darkblue;
}